# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.cache
/lib/bs
/node_modules

/.bsb.lock
/.merlin
/.parcel-cache
/.vscode

/yarn-debug.log*
/yarn-error.log*

/dist
/src/**/*.js
